// Font paths
// -------------------------
@font-face {
  font-family: "Innovadis-2017";
  src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.eot");
  src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.woff2") format("woff2"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.woff") format("woff"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.ttf") format("truetype"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.svg#Innovadis-2017") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Innovadis-2017";
    src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.svg#Innovadis-2017") format("svg");
  }
}