@import './variables';
@import './layout';

span,
div,
b,
i,
li,
input,
textarea,
p {
  font-family: 'Open Sans', sans-serif;
  color: $gray3;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 26px;

  @include phone {
    font-size: 16px;
    line-height: 24px;
  }
}

p.intro {
  font-size: 20px;
  line-height: 28px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', sans-serif;
  color: $gray3;
  letter-spacing: 0;
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 90px;

  @include phone {
    font-size: 36px;
    line-height: 42px;
  }
}

h2 {
  font-size: 60px;
  line-height: 70px;

  @include phone {
    font-size: 30px;
    line-height: 30px;
  }

  @include tablet {
    font-size: 45px;
    line-height: 50px;
  }
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

#webpack-hot-middleware-clientOverlay {
  div,
  span {
    color: white !important;
  }
}
