$background: #082D3C;

$inno-yellow: #ffca28;
$inno-yellow-light: #ffd75b;
$inno-yellow-dark: #f4b800;
$inno-blue: #0029a8;
$inno-blue-light: #0035db;
$inno-blue-dark: #001d75;

$gray0: #f5f5f5;
$gray1: rgba(0, 0, 0, 0.12);
$gray2: rgba(0, 0, 0, 0.54);
$gray3: rgba(0, 0, 0, 0.87);

$gutter: 40px;
$border-radius: 5px;
$container-width: 800px;
$headerHeight: 100px;

$shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.15);
$shadow-large: 10px 20px 20px 0 rgba(8, 45, 60, 0.1); // Note: this is used in Header.vue JS, update there too

a {
  text-decoration: none;
}

.cp {
  cursor: pointer;
}

.dot {
  &:after {
    content: '.';
    color: $inno-yellow;
  }
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}
