/*
 * Icon Font Innovadis-2017
 * Made with love by Icons8 [ https://icons8.com/ ] using FontCustom [ https://github.com/FontCustom/fontcustom ]
 *
 * Contacts:
 *    [ https://icons8.com/contact ]
 *
 * Follow Icon8 on
 *    Twitter [ https://twitter.com/icons_8 ]
 *    Facebook [ https://www.facebook.com/Icons8 ]
 *    Google+ [ https://plus.google.com/+Icons8 ]
 *    GitHub [ https://github.com/icons8 ]
 */


@font-face {
  font-family: "Innovadis-2017";
  src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.eot");
  src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.woff2") format("woff2"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.woff") format("woff"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.ttf") format("truetype"),
       url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.svg#Innovadis-2017") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Innovadis-2017";
    src: url("../fonts/Innovadis-2017_e8df460ddb580f6d15e49709c1f662d7.svg#Innovadis-2017") format("svg");
  }
}

[data-icons8]:before { content: attr(data-icons8); }

.icons8, [data-icons8]:before,
.icons8-advance:before,
.icons8-birthday-cake:before,
.icons8-clock:before,
.icons8-collapse-arrow:before,
.icons8-database-view:before,
.icons8-delete:before,
.icons8-download:before,
.icons8-driver:before,
.icons8-expand-arrow:before,
.icons8-facebook:before,
.icons8-fantasy:before,
.icons8-instagram:before,
.icons8-like-filled:before,
.icons8-linkedin:before,
.icons8-menu:before,
.icons8-minion-2:before,
.icons8-no-entry:before,
.icons8-offline:before,
.icons8-ok:before,
.icons8-online:before,
.icons8-order-on-the-way:before,
.icons8-play:before,
.icons8-refresh:before,
.icons8-router:before,
.icons8-sorting-options:before,
.icons8-swipe-left:before {
  display: inline-block;
  font-family: "Innovadis-2017";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icons8-advance:before { content: "\f107"; }
.icons8-birthday-cake:before { content: "\f110"; }
.icons8-clock:before { content: "\f109"; }
.icons8-collapse-arrow:before { content: "\f105"; }
.icons8-database-view:before { content: "\f102"; }
.icons8-delete:before { content: "\f10e"; }
.icons8-download:before { content: "\f115"; }
.icons8-driver:before { content: "\f10b"; }
.icons8-expand-arrow:before { content: "\f106"; }
.icons8-facebook:before { content: "\f11c"; }
.icons8-fantasy:before { content: "\f108"; }
.icons8-instagram:before { content: "\f11a"; }
.icons8-like-filled:before { content: "\f10a"; }
.icons8-linkedin:before { content: "\f11d"; }
.icons8-menu:before { content: "\f10c"; }
.icons8-minion-2:before { content: "\f111"; }
.icons8-no-entry:before { content: "\f114"; }
.icons8-offline:before { content: "\f118"; }
.icons8-ok:before { content: "\f100"; }
.icons8-online:before { content: "\f117"; }
.icons8-order-on-the-way:before { content: "\f112"; }
.icons8-play:before { content: "\f104"; }
.icons8-refresh:before { content: "\f101"; }
.icons8-router:before { content: "\f103"; }
.icons8-sorting-options:before { content: "\f10f"; }
.icons8-swipe-left:before { content: "\f10d"; }