// Icons
// -------------------------


[data-icons8]:before,
.icons8-advance:before,
.icons8-birthday-cake:before,
.icons8-clock:before,
.icons8-collapse-arrow:before,
.icons8-database-view:before,
.icons8-delete:before,
.icons8-driver:before,
.icons8-expand-arrow:before,
.icons8-fantasy:before,
.icons8-like-filled:before,
.icons8-menu:before,
.icons8-minion-2:before,
.icons8-ok:before,
.icons8-order-on-the-way:before,
.icons8-play:before,
.icons8-refresh:before,
.icons8-router:before,
.icons8-sorting-options:before,
.icons8-swipe-left:before,
{ @include icons8-font; }

[data-icons8]:before { content: attr(data-icons8); }

.icons8-advance:before { content: $icons8-var-advance; }
.icons8-birthday-cake:before { content: $icons8-var-birthday-cake; }
.icons8-clock:before { content: $icons8-var-clock; }
.icons8-collapse-arrow:before { content: $icons8-var-collapse-arrow; }
.icons8-database-view:before { content: $icons8-var-database-view; }
.icons8-delete:before { content: $icons8-var-delete; }
.icons8-driver:before { content: $icons8-var-driver; }
.icons8-expand-arrow:before { content: $icons8-var-expand-arrow; }
.icons8-fantasy:before { content: $icons8-var-fantasy; }
.icons8-like-filled:before { content: $icons8-var-like-filled; }
.icons8-menu:before { content: $icons8-var-menu; }
.icons8-minion-2:before { content: $icons8-var-minion-2; }
.icons8-ok:before { content: $icons8-var-ok; }
.icons8-order-on-the-way:before { content: $icons8-var-order-on-the-way; }
.icons8-play:before { content: $icons8-var-play; }
.icons8-refresh:before { content: $icons8-var-refresh; }
.icons8-router:before { content: $icons8-var-router; }
.icons8-sorting-options:before { content: $icons8-var-sorting-options; }
.icons8-swipe-left:before { content: $icons8-var-swipe-left; }

