// Font paths
// -------------------------

@font-face {
  font-family: "Innovadis-2017";
  src: url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.eot");
  src: url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.eot?#iefix") format("embedded-opentype"),
       url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.woff2") format("woff2"),
       url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.woff") format("woff"),
       url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.ttf") format("truetype"),
       url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.svg#Innovadis-2017") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Innovadis-2017";
    src: url("assets/icons/fonts/Innovadis-2017_3cb73f8aa089a440da0814481df09376.svg#Innovadis-2017") format("svg");
  }
}
